<app-navbar></app-navbar>


<div ><img id="group" src="../../assets/img/Group 11.png" alt=""></div>
<br>

<div id="info1">UNISER Education 20.02.2020 -ci ildən bugünə kimi təhsil sahəsində fəaliyyət göstərir və daim insanlara dəyər qataraq hörmətli şəxsiyyətlər yetişdirməyi hədəfləyir.</div>

<div id="info2">
    Hər hansı bir sahədə ixtisaslaşmaqla yanaşı, fərdlərin şəxsi inkişafına kömək edə biləcək təlim proqramları, həmçinin ictimai qurumlar, təşkilatlar və özəl sektor şirkətləri üçün təlim proqramları, Miq və sertifikasiya, abituriyent hazırlığı, xarici və proqramlaşdırma dilləri, ofis proqramları üzrə təlimlər həyata keçirir.
</div>

<!-- Team starts -->

<div class="container komanda">
    <div id="komanda_uzv">UNISER education komandası</div>

    <div class="team">

        <div><img class="team_img" src="../../assets/img/Ellipse 7.png" alt="">
        <div class="ad_soyad">Ad Soyad</div>
        <div class="vezife">vəzifə</div>
        </div>
        <div><img class="team_img" src="../../assets/img/Ellipse 8.png" alt="">
            <div class="ad_soyad">Ad Soyad</div>
            <div class="vezife">vəzifə</div>
            </div>
        <div><img class="team_img" src="../../assets/img/Ellipse 9.png" alt="">
                <div class="ad_soyad">Ad Soyad</div>
                <div class="vezife">vəzifə</div>
                </div>        
        <div><img class="team_img" src="../../assets/img/Ellipse 10.png" alt="">
                    <div class="ad_soyad">Ad Soyad</div>
                    <div class="vezife">vəzifə</div>
                    </div>   
        <div><img class="team_img" src="../../assets/img/Ellipse 11.png" alt="">
            <div class="ad_soyad">Ad Soyad</div>
            <div class="vezife">vəzifə</div>
                </div>
       <div><img class="team_img" src="../../assets/img/Ellipse 12.png" alt="">
                    <div class="ad_soyad">Ad Soyad</div>
                    <div class="vezife">vəzifə</div>
                        </div>                       
                        <div><img class="team_img" src="../../assets/img/Ellipse 13.png" alt="">
                            <div class="ad_soyad">Ad Soyad</div>
                            <div class="vezife">vəzifə</div>
                                </div>
                                <div><img class="team_img" src="../../assets/img/Ellipse 14.png" alt="">
                                    <div class="ad_soyad">Ad Soyad</div>
                                    <div class="vezife">vəzifə</div>
                                        </div>                         

    </div>

</div>
      <!-- Team end -->


      <div class="elaqe">
        <div class="elaqe1">
            <img id="uniser3" src="../../assets/img/uniseredu 1.png" alt="">
            <div id="elaqe_header">Əlaqə</div>
            <div class="elaqe_icon1"><img src="../../assets/img/phone_logoo.png" alt=""> +994 50 250 07 01</div>
            <div class="elaqe_icon1"><img src="../../assets/img/mail_logo.png" alt=""> uniser.education@uniser.az</div>
            <div class="elaqe_icon1"><img src="../../assets/img/map_logo.png" alt=""> Karat Business Center   2nd Floor <br>(Baku, Murtuza Mukhtarov str, 201)</div>
      
        <div id="elaqe_icon2_">
            <img src="../../assets/img/whatsapp_icon.png" class="navbar_icon">
            <img src="../../assets/img/facebook_icon.png" class="navbar_icon">
            <img src="../../assets/img/instagram_icon.png" class="navbar_icon">
            <img src="../../assets/img/telegram_icon.png" class="navbar_icon">
      
          </div>
        </div>
      
      </div>
      
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12156.250016050535!2d49.8280919!3d40.3853073!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5bb847314b10a9a0!2sUNISER%20Group!5e0!3m2!1sen!2s!4v1658812517554!5m2!1sen!2s"   allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      
      <app-footer></app-footer>
