<app-navbar></app-navbar>

<div><img id="group" src="../../assets/img/Group 1240.png" alt=""></div>

<div class="team">

    <div class="team1"><img class="team_img" src="../../assets/img/Group 1241.png" alt="">
    <div class="xeber_basliq">İpsum lore dolor sit amet</div>
    <div class="xeber_basliq_alt ">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt</div>
    </div>
        <div class="team1"><img class="team_img" src="../../assets/img/Group 1242.png" alt="">
            <div class="xeber_basliq">İpsum lore dolor sit amet</div>
            <div class="xeber_basliq_alt">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt</div>
            </div>
            <div class="team1"><img class="team_img" src="../../assets/img/Group 1243.png" alt="">
                <div class="xeber_basliq">İpsum lore dolor sit amet</div>
                <div class="xeber_basliq_alt">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt</div>
                </div>
        <div class="team1"><img class="team_img" src="../../assets/img/Group 1246.png" alt="">
                    <div class="xeber_basliq">İpsum lore dolor sit amet</div>
                    <div class="xeber_basliq_alt">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt</div>
                    </div>                                         
                    <div class="team1"><img class="team_img" src="../../assets/img/Group 1245.png" alt="">
                        <div class="xeber_basliq">İpsum lore dolor sit amet</div>
                        <div class="xeber_basliq_alt">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt</div>
                        </div>
                        <div class="team1"><img class="team_img" src="../../assets/img/Group 1244.png" alt="">
                            <div class="xeber_basliq">İpsum lore dolor sit amet</div>
                            <div class="xeber_basliq_alt">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt</div>
                            </div>
</div>


<div class="elaqe">
    <div class="elaqe1">
        <img id="uniser3" src="../../assets/img/uniseredu 1.png" alt="">
        <div id="elaqe_header">Əlaqə</div>
        <div class="elaqe_icon1"><img src="../../assets/img/phone_logoo.png" alt=""> +994 50 250 07 01</div>
        <div class="elaqe_icon1"><img src="../../assets/img/mail_logo.png" alt=""> uniser.education@uniser.az</div>
        <div class="elaqe_icon1"><img src="../../assets/img/map_logo.png" alt=""> Karat Business Center   2nd Floor <br>(Baku, Murtuza Mukhtarov str, 201)</div>
  
    <div id="elaqe_icon2_">
        <img src="../../assets/img/whatsapp_icon.png" class="navbar_icon">
        <img src="../../assets/img/facebook_icon.png" class="navbar_icon">
        <img src="../../assets/img/instagram_icon.png" class="navbar_icon">
        <img src="../../assets/img/telegram_icon.png" class="navbar_icon">
  
      </div>
    </div>
  
  </div>
  
  <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12156.250016050535!2d49.8280919!3d40.3853073!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5bb847314b10a9a0!2sUNISER%20Group!5e0!3m2!1sen!2s!4v1658812517554!5m2!1sen!2s"   allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
  <app-footer></app-footer>
